<div style="border: solid black;">
  <h4> Flight Number: {{flight_number}} </h4>
  <h4> Departure Date: {{departure_date}} </h4>
  <h4> Departure Time: {{departure_time}} </h4>
  <h4> Departure: {{departure}} </h4>
  <h4> Arrival Date: {{arrival_date}} </h4>
  <h4> Arrival Time: {{arrival_time}} </h4>
  <h4> Arrival: {{arrival}} </h4>
  <h4> Arrival ZipCode: {{arrival_zipcode}} </h4>
  <h4> Gate: {{gate}} </h4>
  <h4> Terminal: {{terminal}} </h4>
</div>
