<div class="col-xs-18 col-sm-6 col-md-3">
  <div class="thumbnail">
    <p> Flight Number: {{flight_number}} </p>
    <p> Departure Date: {{departure_date}} </p>
    <p> Departure Time: {{departure_time}} </p>
    <p> Departure: {{departure}} </p>
    <p> Arrival Date: {{arrival_date}} </p>
    <p> Arrival Time: {{arrival_time}} </p>
    <p> Arrival: {{arrival}} </p>
    <p> Arrival ZipCode: {{arrival_zipcode}} </p>
    <p> Gate: {{gate}} </p>
    <p> Terminal: {{terminal}} </p>
  </div>
</div>
